.main {
  background-color: #c6c6c6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.searchForm {
  width: 80%;
  max-width: 600px;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  position: absolute;
  top: 210px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.searchInput {
  background-color: #202028;
  color: #cdd6f4;
  font-size: 22px;
  padding: 8px;
  width: 100%;
  outline: 1px solid #cdd6f4;
  border-radius: 2px;
}

.searchInput:focus {
  outline: 2px solid #f38ba8;
  transition: outline 0.5s ease;
}

.bookmarks {
  margin-bottom: 200px;
  display: flex;
  flex-direction: row;
}

.linkButton {
  margin: 25px;
}

.linkButtonLabel {
  color: #1e1e2e;
  font-size: 20px;
  text-align: center;
}

.timeStr {
  color: #d6d6d8;
  font-size: 50px;
  text-align: center;
}

.dateStr {
  color: #d6d6d8;
  font-size: 32px;
  text-align: center;
}

/* Task List */

.taskContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.taskList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.taskListTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.taskItem {
  margin-bottom: 8px;
}

.taskItem:hover {
  color: #f38ba8;
  transform: scale(1.05);
  transition: all 0.5s ease;
}

.taskStatus {
  font-size: 10px;
  background-color: #202028;
  color: #cdd6f4;
  padding: 5px;
  border-radius: 10px;
}

.taskTitle {
  margin-left: 10px;
}


