.main {
  background-color: #c6c6c6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.searchForm {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.searchInput {
  background-color: #202028;
  color: #cdd6f4;
  font-size: 22px;
  padding: 8px;
  width: 100%;
  outline: 1px solid #cdd6f4;
  border-radius: 2px;
}

.searchInput:focus {
  outline: 2px solid #f38ba8;
  transition: outline 0.5s ease;
}

.bookmarks {
  margin-bottom: 200px;
  display: flex;
  flex-direction: row;
}

.linkButton {
  margin: 25px;
}

.linkButtonLabel {
  color: #1e1e2e;
  font-size: 20px;
  text-align: center;
}

.timeStr {
  color: #d6d6d8;
  font-size: 50px;
  text-align: center;
}

.dateStr {
  color: #d6d6d8;
  font-size: 32px;
  text-align: center;
}



